:host {
  background-color: var(--p-primary-700);
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
