<script src="../register-member/register-member.component.ts"></script>
<script src="tournament-list.component.ts"></script>
<p-button
  styleClass="mb-2"
  routerLink="create"
  label="Ajouter un tournoi"/>


<p-card>
  <ng-template #title>
    Liste des tournois
  </ng-template>
  <p-table [columns]="Colonne" [value]="TournamentList" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header let-columns>
      <tr>
        @for (col of columns; track col) {
          <th>
            {{ col.header }}
          </th>
        }
      </tr>
    </ng-template>
    <ng-template #body let-rowData let-columns="columns">
      <tr>
        <td routerLink="/tournament/{{rowData['id']}}">
          {{ rowData['name'] }}
        </td>
        <td>
          {{ ((rowData['location'] == "" || rowData['location'] == null) ? "Inconnu" : rowData['location']) }}
        </td>
        <td>
          @for (catNumber of rowData['categories']; track $index) {
            <div class="m-1 inline-block">
              <p-chip severity="success" [label]="TournamentCatEnum[catNumber]"/>
            </div>
          }
        </td>
        <td>
          {{ rowData['minPlayerElo'] }} - {{ rowData['maxPlayerElo'] }}
        </td>
        <td>
          {{ TournamentStatus[rowData['status']] }}
        </td>
        <td>
          {{ rowData['inscriptionsEndDate'] | date }}
        </td>
        <td>
          <span [ngClass]="{'red' : rowData['currentPlayerNumber'] < rowData['minPlayerAmount']}"> {{ rowData['currentPlayerNumber'] }}</span>/{{ rowData['maxPlayerAmount'] }}
        </td>
        <td>
          {{ rowData['currentRound'] }}
        </td>
        <td>
          <div>
            <p-button styleClass="m-1 inline-block" icon="pi pi-search" [rounded]="true" severity="info"
                      routerLink="/tournament/{{rowData['id']}}"/>
            <p-button styleClass="m-1 inline-block" icon="pi pi-times" [rounded]="true" severity="danger"
                      (onClick)="deleteTournament(rowData['id'])"/>
          </div>
        </td>

      </tr>
    </ng-template>
  </p-table>
  <ng-template #footer>
  </ng-template>
</p-card>

