<!--TODO: Check why button doesn't work-->
<a routerLink="create" class="p-button p-button-sm font-bold"> Ajouter un tournoi </a>

<p-table [columns]="Colonne" [value]="TournamentList" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template #header let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
</p-table>

