p-tag{
    display: block;
  margin-block: .3rem;
  width: fit-content;
  width: fit-content;
}
p-tag{
    display: block;
  margin-block: .3rem;
  width: fit-content;
  width: fit-content;
}

.red{
  color:firebrick;
}
