<form [formGroup]="loginForm" (submit)="login()">
  <p-card>
    <ng-template #title>
      Se connecter
    </ng-template>
    <div class="grid">
      <div class="col-4">
        <p-float-label variant="on">
          <input pInputText formControlName="username"
          styleClass="w-full"
          >
          <label>Username</label>
        </p-float-label>
      </div>
    </div>
    <div class="grid">

      <div class="col-4">
        <p-float-label p-float-label variant="on">
          <input pInputText type=password formControlName="password"
                 styleClass="w-full"
          >
          <label>Mot de passe</label>
        </p-float-label>
      </div>
    </div>

    <ng-template #footer>
      <p-button type="submit"
                loadingIcon="pi pi-cog"
                severity="info"
                label="Se connecter"
                [disabled]="loginForm.invalid">
      </p-button>
    </ng-template>
  </p-card>
</form>
